#page{
    width: 800px;
    border: 1px solid black;
    background-color: azure;
}

header {
    height: 60px;
    background-color: yellow;
}

footer{
    clear: both;
    height: 60px;
    background-color: yellowgreen;
}

main{
    display: block;
}

#left{
    float: left;
    width: 150px;
    min-height: 100%;
    background-color: yellowgreen;
    border: 1px solid red;
}

#right{
    float: right;
    width: 150px;
    min-height: 100%;
    background-color: #eee;
    border: 1px solid red;
}

#midle{
    padding: 30px;
    background-color: #f3f3f3;
    border: 1px solid blue;
    margin: 0px 160px;
}