
#page {
    border: 1px solid black;
    background-color: #ccffcc;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    border-bottom: 1px solid black;
    background-color: #cccccc;
    height: 50px;
    padding: 10px;
}

#main {
    background-color: #ccffcc;
    min-height: 350px;
}

#left {
    background-color: #ccffcc;
    float: left;
    padding: 10px;
}

#middle {
    float: right;
    width: 700px;
    border-left: 1px solid black;
    background-color: #ccffcc;
    min-height: 400px;
    padding: 10px;
}

#footer {
    border-top: 1px solid black;
    background-color: #cccccc;
    height: 50px;
    clear: both;
    padding: 10px;
}

.accept {
    color: green;
}

.warning {
    color: blueviolet;
}

.error {
    color: red;
}

.watermark {
    color: red !important;
}

.editmezo {
    width: 600px;
}